.Profile {
    display: flex;
    transform: translate(30%, 5%);
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 60%;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.413);
    border-radius: 7px;
    border: solid 2px #1C5F21;
}

.profilePopUpErr {
    position: fixed;
    text-align: center;
    transform: translate(-10%, -10%);
    padding-top: 30px;
    width: auto;
    max-width: 350px;
    height: 300px;
    background-color: white;
    border: solid 2px #1C5F21;
    border-radius: 7px;
}

.profileErrBtn {
    transition: transform .3s ease-in-out;
    height: 40px;
    width: 90px;
    background-color: #1C5F21;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

.profileErrBtn:hover {
    transform: scale(1.1);
    box-shadow: #191919 1px 1px 1px;
}

.yesDelBtn {
    transition: transform .3s ease-in-out;
    background-color: white;
    color: #1C5F21;
    border: solid 2px #1C5F21;
}

.yesDelBtn:hover {
    background-color: #1C5F21;
    color: white;
    border: none;
    transform: scale(1.1);
}

.noDelBtn {
    transition: transform .3s ease-in-out;
    background-color: white;
    color: #1C5F21;
    border: solid 2px #1C5F21;

}

.noDelBtn:hover {
    transform: scale(1.1);
    background-color: #1C5F21;
    color: white;
    border: none;
}

.delBtnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: auto;
}

.delBtnContainer button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
}

.Profile input {
    width: 190px;
    height: 30px;
    background-color: rgba(197, 195, 230, 0.326);
    border: solid 2px #1C5F21;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 3px;
    padding-bottom: 3px;
    color: #1C5F21;
}

.Profile img {
    height: 200px;
    width: 200px;

}


.Profile form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 130px;
    width: 200px;

}

.profileHeader img {
    border-radius: 7px;
}

.Profile label {
    color: #1C5F21;
    padding-bottom: 5px;
    padding-top: 5px;
}

.Profile h1 {
    color: #1C5F21;
    padding-top: 10px;
    font-weight: 600;

}

.Profile h2 {
    padding-top: 10px;
    color: #1C5F21;
    font-weight: 500;
    text-align: center;
    width: 200px;

}

.logOutBtn {
    transition: transform .3s ease-in-out;
    height: 30px;
    width: 70px;
    font-size: 13px;
    background-color: #1C5F21;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}


.logOutBtn:hover {
    transform: scale(1.1);
    background-color: #1C5F21;
    border: none;

}

.profileIconImage {
    color: #1C5F21;
    height: 190px;
    width: 190px;

}

.deleteBtn {
    transition: transform .3s ease-in-out;
    margin-bottom: 20px;
    font-size: 13px;
    height: 20px;
    color: #1C5F21;
    border: none;
    cursor: pointer;
    width: 90px;
    text-decoration: underline;
    background: none;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    width: 600px;
    margin-bottom: 20px;

}

@media screen and (min-width: 360px) and (max-width:483px) {

    .Profile {
        transform: translate(10%, 5%);
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        height: 100%;
        width: 85%;
        margin-bottom: 40px;
    }

    .profileContainer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

    .Profile form {
        justify-content: center;
        align-items: center;
        width: 200px;

    }

    .Profile label {
        justify-self: flex-start;
        width: 140px;
    }


    .Profile h2 {
        justify-self: flex-start;
        width: 200px;
    }

    .btnContainer {
        align-items: center;
        width: 200px;

    }


}


@media screen and (min-width:483px) and (max-width:700px) {

    .Profile {
        transform: translate(10%, 5%);
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        height: 100%;
        width: 85%;
    }

    .profileContainer {
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    .Profile form {
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;

    }

    .Profile label {
        justify-self: flex-start;
        width: 190px;
    }


    .Profile h2 {
        justify-self: flex-start;
        width: 200px;
    }

    .btnContainer {
        align-items: center;
        width: 200px;


    }

}

@media screen and (min-width:700px) and (max-width:1020px) {
    .Profile {
        transform: translate(20%, 5%);
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 70%;
    }

    .profileContainer {
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .Profile form {
        justify-content: center;
        align-items: center;

    }

    .Profile label {
        justify-self: flex-start;
        width: 190px;
    }

    .btnContainer {
        align-items: center;

    }



}
